<section>
    <div class="row">
        <div class="col-sm text-center">
            <mat-list>
                <h3 mat-subheader>
                    Helper &nbsp;
                    <mat-icon (click)="helper.show();" #helper="matTooltip" matTooltipClass="help-primary" matTooltipPosition="right" matTooltip="Select a help query to generate this automatically in the form" class="pointer">report</mat-icon>
                </h3>
                <mat-list>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hi, I need a professional logo');">
                            Hi, I need a professional logo
                        </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hi, I need to expand my brand to other countries');">
                            Hi, I need to expand my brand to other countries
                        </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hi, Im starting and I want to create my brand from 0');">
                            Hi, I'm starting and I want to create my brand from 0
                        </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hi, I need some banners for my company');">
                            Hi, I need some banners for my company
                        </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hi, I need a manual to know how to use my logo correctly');">
                            Hi, I need a manual to know how to use my logo correctly
                        </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hi, I need professional advice for my company');">
                            Hi, I need professional advice for my company
                        </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hi, I need professional content for social networks');">
                            Hi, I need professional content for social networks
                        </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('I only want to say hello');">
                            I only want to say hello
                        </span>
                    </mat-list-item>
                </mat-list>
            </mat-list>
        </div>
    </div>
</section>